.Movie_card {
  max-width: 182px;
  width: 182px;

  max-height: 272px;
  cursor: pointer;
  margin: 0px 0.5rem;
  position: relative;
  border: 1px solid rgb(176, 176, 176);

  transition: transform 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.Movie_card:hover {
  transform: scale(1.2);
  z-index: 1300;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Movie_card img {
  width: 180px;
  height: 270px;
}
.Card_detail {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  color: white;
  font-weight: bolder;
  /* border: 2px solid red; */
}
.Cards_overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 0;
  transition: opacity 0.2s;
}

.Cards_overlay:hover {
  opacity: 1;
}

.title_score_hover {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  font-size: 12px !important;
  font-weight: normal !important;
  padding: 2px 16px 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.svg_star_hover svg {
  fill: rgb(255, 204, 0);
  width: 12px;
  height: 12px;
}
