.noneScroll {
  overflow-x: none;
}
/* .HomePage_First {
  width: 100vw;
} */

.HomePage_First_Wallpaper {
  position: relative;
  height: 50%;
  max-height: 80vh;
  /* width: 100%; */
}
.HomePage_First_Wallpaper:hover {
  cursor: pointer;
}
.HomePage_First_Wallpaper img {
  object-fit: cover;
  object-position: 0 20%;
  max-width: 100vw;
  width: 100%;
  /* margin: auto; */
  /* display: block; */
  height: 750px;
  max-height: 80vh;
  /* max-height: 750px; */
  animation-name: fadeIn;
  animation-duration: 0.5s;
  /* animation-fill-mode: forwards; */
}
.Wallpaper_Content_img {
  position: relative;
  display: flex;
}
.Wallpaper_Content_img_arrow {
  position: absolute;
  height: 100%;
  opacity: 0.3;
  z-index: 1200;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Wallpaper_Content_arrow:hover {
  cursor: pointer;
  /* background-color: rgb(46, 46, 46); */
}
.arrow_left {
  left: 0;
}
.arrow_left:hover {
  cursor: pointer;
  background-image: linear-gradient(to left, rgb(0, 0, 0, 0), #08091a);
}
.arrow_right {
  right: 0;
}
.arrow_right:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, rgb(0, 0, 0, 0), #08091a);
}
.HomePage_First_Wallpaper_overlay {
  position: absolute;
  width: 100%;
  /* padding: 10rem; */
  z-index: 1;
  bottom: 0px;
  height: 30%;
  /* width: 100vw; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; */

  /* background-image: linear-gradient(rgb(0, 0, 0, 0), #08091a); */

  opacity: 1;
  transition: opacity 0.3s;
}
.HomePage_First_Wallpaper_overlay:hover {
  opacity: 1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.HomePage_First_Wallpaper_Content {
  position: absolute;
  left: 5%;
  max-width: fit-content;
  width: 90%;
}
.Wallpaper_Content_title {
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line_title {
  width: 10px;
  max-height: 72px;
  height: 72px;
  background-color: red;
  margin-right: 0.5rem;
}
.dis_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.titleDate_Score {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  /* border: 2px solid red; */
}
.titleScore {
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg_star svg {
  fill: rgb(255, 204, 0);
  width: 20px;
  height: 20px;
}
