.MoiveDetail {
  /* width: 100vw; */
  display: flex;
  justify-content: center;
}
.MoiveDetail_container {
  /* border-left: 2px solid red;
  border-right: 2px solid red; */
  /* height: 100vh; */
  color: white;
  width: 75%;

  position: relative;

  display: flex;
  flex-direction: column;

  /* align-items: center; */
}
.MoiveDetail_img {
  position: relative;
}
.MoiveDetail_img img {
  object-fit: cover;
  object-position: 0 10%;
  width: 100%;
  height: calc(50vh + 61px);
}
@media only screen and (max-width: 1400px) {
  .MoiveDetail_img img {
    height: 100%;
  }
}
.MoiveDetail_img_overlay {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0px;
  height: 30%;
  opacity: 1;
  transition: opacity 0.3s;
}
.MoiveDetail_content {
  text-shadow: 0px 0px 5px #000000;
  z-index: 2;
  position: relative;
  bottom: 80px;
  /* border: 2px solid green; */
  width: 94%;
  margin: 0 3%;

  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */

  overflow: hidden;
}
.MoiveDetail_content img {
  height: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin-right: 30px;
}
.content_detailMovie .title_MoiveName {
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}
.title_MoiveName .line {
  background-color: red;
  width: 8px;
  height: 48px;
  margin-right: 0.5rem;
}
.content_detailMovie .tagline_Moive {
  padding: 0 0 0 16px;
  margin: 0.5rem 0px;
}
.content_detailMovie .score_Movie {
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
}
.svg_star_movieDetail svg {
  fill: rgb(255, 204, 0);
  width: 20px;
  height: 20px;
  margin: 0 8px 0 8px;
}
.content_detailMovie .runtime_Movie {
  margin: 0.5rem 0 0 0;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.content_detailMovie .date_Movie {
  margin: 0.5rem 0 0 0;
  display: flex;
  align-items: center;
}
.content_detailMovie .genres_Movie {
  margin: 1.5rem 0 0 0;
  display: flex;
  align-items: center;
}
.content_detailMovie .synopsis_Movie {
  margin: 1.5rem 0 0 0;
}
.Video_MovieDetail div div {
  height: 700px !important;
  /* background-color: black; */
}
@media only screen and (max-width: 1200px) {
  .Video_MovieDetail div div {
    height: 500px !important;
  }
}
@media only screen and (max-width: 721px) {
  .Video_MovieDetail div div {
    height: 300px !important;
  }
}
@media only screen and (max-width: 431px) {
  .Video_MovieDetail div div {
    height: 200px !important;
  }
}

@media only screen and (max-width: 976px) {
  .MoiveDetail_content {
    display: block;
    text-align: center;
  }
  .content_detailMovie .tagline_Moive {
    display: flex;
  }
  .content_detailMovie .synopsis_Movie {
    text-align: left;
  }
  .content_detailMovie .genres_Movie {
    flex-wrap: wrap;
  }
  .content_detailMovie .genres_Movie div {
    margin-top: 0.5rem;
  }
}
.Footer_MovieDettail {
  margin-top: 5rem;
}
.Links_Movie {
  text-align: center;
  margin: 2rem 0 0 0;
}
.Links_Movie .Btn_imdb {
  background-color: rgb(226, 182, 9);
  padding: 0.8rem 1.5rem;
  color: black !important;
  font-weight: bolder;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Links_Movie .Btn_imdb:hover {
  background-color: rgb(193, 158, 18);
}
